<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoOrgao(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Orgao</button>
    </div>
    
  </div>
  <h3>Filtro: {{filtroLista}}</h3>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Data Criação</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="orgaos && orgaos.length">
      <tr *ngFor="let orgao of orgaosFiltrados">
        <td>{{orgao.id}}</td>
        <td>{{orgao.nome}}</td>
        <td>{{orgao.dataCriacao | DateTimeFormatPipe}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-success" (click)="openModal(template)" tooltip="Editar"
            (click)="editarOrgaos(orgao, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" 
          tooltip="Excluir" (click)="excluirOrgaos(orgao, confirm)">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!orgaos">
  <tr>
    <td colspan="4" class="text-center">
      <h5>Nenhum Órgão Encontrado!</h5>
    </td>
  </tr>
</tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nome: </label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('nome')!.errors && registerForm.get('nome')!.touched}"
            formControlName="nome" placeholder="Insira o nome">
            <div *ngIf="registerForm.get('nome')!.hasError('required') && registerForm.get('nome')!.touched" class="invalid-feedback">
              Nome é obrigatório.
            </div>
            <div *ngIf="registerForm.get('nome')!.hasError('minLength') 
            && registerForm.get('nome')!.touched" class="invalid-feedback">
            Nome deve ter no mínimo 4 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Data de Criação: </label>
          <input type="text" class="form-control" 
          bsDatepicker
          value="{{dataCriacao | DateTimeFormatPipe}}"
          [(ngModel)]="dataCriacao"
          [ngClass]="{'is-invalid': registerForm.get('dataCriacao')!.errors 
          && registerForm.get('dataCriacao')!.touched}" formControlName="dataCriacao" placeholder="Insira a data de criação">
          <div class="invalid-feedback">
            Data de criação é obrigatória.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Servidor Id: </label>
          <input type="number" class="form-control" 
          formControlName="servidorId">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" d-flex>
    <button class="btn btn-secondary" (click)="template.hide()">
      Fechar
    </button>
    <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
      Salvar Alterações
    </button>
  </div>
</div>
</div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Órgão
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarOrgao}}</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>
